<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset class="box-payment-group2 box-payment-option box-payment-bompracredito bomPraCreditoPaymentGroup">
  <h3 class="payment-bompracredito-title"></h3>
  <div class="payment-newpayment-description">
    <p class="payment-bompracredito-description-text"><span>Parcele</span> suas compras no <span>boleto.</span></p>
    <p class="payment-bompracredito-description-text subtitle">Finalize para ver seu crédito pré-aprovado.</p>
  </div>
  <div class="payment-bompracredito-background">    
  </div>
</fieldset>
