#payment-group-template-PaymentGroup .payment-group-item-text {
  background-image: url('../../img/payment-bom-pra-credito-ico.png');
}
h3.payment-bompracredito-title {
  background: url(../../img/payment-bompracredito-title.png) left no-repeat;
  background-size: contain;
  background-position: center left;
  display: block;
  margin: 20px 0 20px 15px;
  padding-top: 8%;
}
.payment-bompracredito-description-text {
  font-size: 18px;
  margin: 15px 0 10px 15px;
  color: #000;
}
.payment-bompracredito-description-text span {
  font-weight: 600;
}
.payment-bompracredito-description-text.subtitle {
  font-size: 14px;
  color: #000;
  margin: 0 0 10px 15px;
}
.payment-bompracredito-background {
  background: url(../../img/payment-bompracredito-background.png) center center no-repeat;
  background-size: contain;
  background-position: center bottom;
  display: block;
  margin: 35px 0 -20px -20px;
  padding: 0 20px;
  padding-top: 70%;
  text-indent: -999em;
  width: 100%;
}
@media (max-width: 979px) {
  .payment-bompracredito-description-text {
    font-size: 16px;
  }
  .payment-bompracredito-description-text.subtitle {
    font-size: 12px;
  }
}
@media (max-width: 490px) {
  .payment-bompracredito-background {
    padding-top: 75%;
    margin: 35px 0 -35px -20px;
  }
}
